.@{prefix}-descriptions {
    border: 1px solid var(--border-color-base);

    &-root {
        position: relative;

        &.loading {
            .@{prefix}-descriptions {
                opacity: 0.5;
            }
        }
    }

    &-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
    }

    & &-label {
        width: 15%;
        padding: @padding-sm;
        font-weight: @font-weight-medium;
        background-color: var(--component-background-gray);
        border: 1px solid var(--border-color-base);
        .text-size(@font-size-base);
    }

    & &-content {
        width: 35%;
        padding: @padding-sm;
        .text-size(@font-size-base);
    }
}
