@import url('@milesight/shared/src/styles/index.less');

body {
    background-color: var(--body-background);
    .text-size(@font-size-base);
}

// ---------- Layout ----------
.@{prefix}-layout {
    display: flex;
    height: 100vh;
    min-height: 0;

    &-left {
        width: 256px;
    }

    &-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 0;
        background-color: var(--body-background);
    }
}

.@{prefix}-main {
    flex: 1;
    height: 0;
    margin: 0 @margin-lg @margin-lg;
    background-color: var(--main-background);
    border-radius: @border-radius-xs;

    &:first-child:not(.@{prefix}-main-blank) {
        margin-top: @margin-lg;
    }

    // 高度撑满整屏
    &-full {
        height: calc(100% - @margin-lg);
    }

    &-transparent {
        background-color: transparent;
    }
}

.@{prefix}-main-blank {
    flex: 1;
}

// ---------- Scrollbar ----------
// https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-webkit-scrollbar
::-webkit-scrollbar {
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    // 同时有垂直滚动条和水平滚动条时交汇的部分背景色
    background-color: transparent;
}

// 滚动条上的按钮（上下箭头部分）
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
