// ---------- Form ----------
.@{mui-prefix}FormLabel-asterisk {
    color: var(--text-color-error);
}

// ---------- Tabs ----------
.@{mui-prefix}Tabs-root {
    .@{mui-prefix}Tab-root {
        padding-right: 0;
        padding-left: 0;
        margin-right: 32px;
        text-transform: none;
    }
}

// ---------- DataGrid ----------
.@{mui-prefix}DataGrid-columnHeader .@{mui-prefix}Checkbox-root,
.@{mui-prefix}DataGrid-cellCheckbox .@{mui-prefix}Checkbox-root {
    &:not(.@{mui-prefix}-checked):not(.@{mui-prefix}-disabled) {
        color: var(--text-color-tertiary);
    }
}

.@{mui-prefix}DataGrid-filterForm {
    .@{mui-prefix}FormControl-root > .@{mui-prefix}FormControl-root {
        margin: 0;
    }
}
